* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    background-color: black;
    color: aliceblue;
    font-family: "Schibsted Grotesk", sans-serif;
}

#main-layout {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-rows: 3.2rem 1fr;
}

#navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

#image-logo {
    width: 35px;
    padding-right: 10px;
}

#search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#search-container input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #282828;
    border-radius: 1rem;
    background-color: transparent;
}

#user-icon {
    width: 100px;
    display: flex;
    justify-content: flex-end
}

#menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}


.main{
    display: flex;
    flex-direction: row;
    padding: 120px 60px 60px 60px;
    justify-content: space-evenly;
  }
  
  .main-info {
    max-width: 600px;
  }
  
  .main h1{
    color: transparent;
    line-height: 60px;
    font-size: 50px;
  }
  
  
  .main .text{
    line-height: 70px;
    font-size: 60px;
    color: #fff;
  }
  
  .main .tagline{
    color: rgba(235, 235, 245, .6);
    line-height: 36px;
    font-size: 24px;
  }
  
  .vite{
    background: -webkit-linear-gradient( 120deg, #bd34fe 25%, #41d1ff );;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .logo img {
    max-width: 320px;
    max-height: 320px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px;
  }
  
  .card {
    display: flex;
    flex: 1 1 calc(33.333% - 20px); 
    box-sizing: border-box; 
    padding: 24px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    align-items: flex-start;
    flex-direction: column;
    background-color: #202127;
    height: 30vh;
  }
  
  .card .icons{
    background-color: #2B2F36;
    display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      border-radius: 6px;
      width: 48px;
      height: 48px;
      font-size: 24px;
      transition: background-color .25s;
      padding: 10px 5px;
  }
  
  .card .text{
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .card .tagline{
    padding-top: 8px;
      line-height: 24px;
      font-size: 14px;
      font-weight: 500;
      text-align: start;
  }
  
  .tabs{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .tab {
    color: wheat;
    background: #41454d;
    padding: 6px;
    border-radius: 50px;
  }
  
  .tab p{
    text-decoration: none;
    color: white;
    padding: 0 20px;
    line-height: 38px;
  
  }
  
  .tabs .tab:first-child , .tabs .tab:last-child {
    background-color: #646CFF; 
  }